---
development:
  YOUTUBE_API_KEY: '<secret here>'
  AWS_ACCESS_KEY_ID: '<secret here>'
  AWS_SECRET_ACCESS_KEY: '<secret here>'
  AWS_REGION: 'user assigned'
  POPVIDEO_QUEUE: '<user assigned>'
  YPBT_APP: '<user assigned>'
test:
  YOUTUBE_API_KEY: '<secret here>'
  AWS_ACCESS_KEY_ID: '<secret here>'
  AWS_SECRET_ACCESS_KEY: '<secret here>'
  AWS_REGION: '<user assigned>'
  POPVIDEO_QUEUE: '<user assigned>'
  YPBT_APP: '<user assigned>'
