---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=FugHj7MGhss&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/eT3p-eykOi9ayg4Cnlp9BtF_c3s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "id": "FugHj7MGhss",
           "snippet": {
            "publishedAt": "2015-03-04T11:40:17.000Z",
            "channelId": "UC-pR7CuFeaa-khgLx65j7CA",
            "title": "20150303 二珂 後來 印地安老斑鳩 後會無期 淡水河邊 野薔薇 致青春 匆匆那年 我的滑板鞋",
            "description": "新浪微博周二珂:http://weibo.com/u/1910672761\n二珂直播:http://www.panda.tv/35723"
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:18 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/commentThreads?key=<API_KEY>&order=relevance&part=snippet&videoId=FugHj7MGhss
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/B4i-rWfbP0uiHcbFI3L3hmCwB-Y"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n \"kind\": \"youtube#commentThreadListResponse\",\n \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/B4i-rWfbP0uiHcbFI3L3hmCwB-Y\\\"\",\n
        \"nextPageToken\": \"Q2cwUWhmamg5NkNsMEFJZ0FDZ0JFdFlCQ0FBUXdNaXp3TlQ3endJcXlBSEhzdWFnd3BmVHpjNEJ5L1hKeDVYdG5mUE5BWnF5aS9yQ2tiLzV6Z0dyMTRTWDdjTDYwTThCeE1QSTVhbXY2cFhOQWNlV3hNSG04TjJwekFHNXFQWGk0K1NBbk04Qm9xN2gycXVjZ3JmTUFiN0JoTEhrKzRhdXp3SHh5S2F6b2ZhV2pNd0I2STdqdWZmRzBxek1BYUhqbWVTYjViYUt6QUhaOVpTRzNkbi9nTXdCME11dDdxR1JqY1BOQWFPS3I0VDNndkRCekFIejdZcnJzWWpIcjg4QjhhS3RuKzdzN2NMUEFialhydnpoK3M3QXpRSG5pdXlJOUsyYTdNOEJndXpDOTZHOTVkN05BUmdCSUJRb3JlYW9sTWYwa3JJeQ==\",\n
        \"pageInfo\": {\n  \"totalResults\": 20,\n  \"resultsPerPage\": 20\n },\n
        \"items\": [\n  {\n   \"kind\": \"youtube#commentThread\",\n   \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/llFuV14l9Bwiq2jlg0qzV8Ey7Fc\\\"\",\n
        \  \"id\": \"z122xfko2suxyh2lq22vip3a0qqyh5tkl\",\n   \"snippet\": {\n    \"videoId\":
        \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\": \"youtube#comment\",\n
        \    \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/L6tc-Taa9o4RmVeoOe91gjP6X6k\\\"\",\n
        \    \"id\": \"z122xfko2suxyh2lq22vip3a0qqyh5tkl\",\n     \"snippet\": {\n
        \     \"authorDisplayName\": \"ang pang chuan\",\n      \"authorProfileImageUrl\":
        \"https://lh5.googleusercontent.com/-cPzTvMOGlII/AAAAAAAAAAI/AAAAAAAAAFI/k8rNOOBGrXs/photo.jpg?sz=50\",\n
        \     \"authorChannelUrl\": \"http://www.youtube.com/channel/UCmlO7mWtl9-GuqOoSjfPlvQ\",\n
        \     \"authorChannelId\": {\n       \"value\": \"UCmlO7mWtl9-GuqOoSjfPlvQ\"\n
        \     },\n      \"videoId\": \"FugHj7MGhss\",\n      \"textDisplay\": \"印地安老斑鳩唱得真的比原唱还好..几乎完美!\\ufeff\",\n
        \     \"canRate\": false,\n      \"viewerRating\": \"none\",\n      \"likeCount\":
        0,\n      \"publishedAt\": \"2016-10-25T06:37:30.000Z\",\n      \"updatedAt\":
        \"2016-10-25T06:37:30.000Z\"\n     }\n    },\n    \"canReply\": false,\n    \"totalReplyCount\":
        0,\n    \"isPublic\": true\n   }\n  },\n  {\n   \"kind\": \"youtube#commentThread\",\n
        \  \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/TxU4N1zGymZ5ymncDUjmk_M66eA\\\"\",\n
        \  \"id\": \"z12ecvb4qpeiub5yv04chh4oxtarglxjsow0k\",\n   \"snippet\": {\n
        \   \"videoId\": \"FugHj7MGhss\",\n    \"topLevelComment\": {\n     \"kind\":
        \"youtube#comment\",\n     \"etag\": \"\\\"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/uvzFlBGHITqaPOfEHt6vTA9UKHo\\\"\",\n
        \    \"id\": \"z12ecvb4qpeiub5yv04chh4oxtarglxjso[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z122xfko2suxyh2lq22vip3a0qqyh5tkl&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/Yw8XEuHeWW8f7jVaACHH5lcwAXM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "ang pang chuan",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-cPzTvMOGlII/AAAAAAAAAAI/AAAAAAAAAAA/409Z8GBo9Wc/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCmlO7mWtl9-GuqOoSjfPlvQ",
            "authorChannelId": {
             "value": "UCmlO7mWtl9-GuqOoSjfPlvQ"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12ecvb4qpeiub5yv04chh4oxtarglxjsow0k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/kBiQG8fc2-tcktUPHo8MxvVUCvw"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Ao Shizhong",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-MiFiRDA58l0/AAAAAAAAAAI/AAAAAAAAAAA/LaEhZkISRDk/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCCpfCKOjTZ7pckMY8l3Gqyw",
            "authorChannelId": {
             "value": "UCCpfCKOjTZ7pckMY8l3Gqyw"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:20 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13ojzc4syf4txi1223be3fruxzjhj0zy04&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/_YSKxy29j_jo0SZhUoCbL7n1CGo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "yidong zhang",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-nYM67Vq3P8A/AAAAAAAAAAI/AAAAAAAAAAA/meo6iSF0HjA/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UChFO1JT3gMeEpU3JRP7wd5w",
            "authorChannelId": {
             "value": "UChFO1JT3gMeEpU3JRP7wd5w"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:21 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12vjroh2qvpupjrz04chfwxikefy5jz3pk0k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/hWqAp2XgCkdq7UxQjWKOU-Z44PI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "XL Hu",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-XGv0ZWcX3Zs/AAAAAAAAAAI/AAAAAAAAAAA/UoFcOoB-y08/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCV1BvJIaNGhtGwtBwivj7nw",
            "authorChannelId": {
             "value": "UCV1BvJIaNGhtGwtBwivj7nw"
            },
            "likeCount": 4
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:22 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12zdhzzruzze3bwh04ciz2puzutirjgjto0k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/KHQab6-t1_tcNyoFno-KhobOrzs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "黃挺哲",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-k6lC69Ke7Vk/AAAAAAAAAAI/AAAAAAAAAAA/ASEq2qi5CDw/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCD0nTdjQXJLXFek9sE8crug",
            "authorChannelId": {
             "value": "UCD0nTdjQXJLXFek9sE8crug"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12keh2guzjpsn2tw22gcnoo2vbxwhrl2&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/rJNzjolhVozPKYGckG46JMkaR3w"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "zhixing liu",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-sXHNFbXAOio/AAAAAAAAAAI/AAAAAAAAAAA/h8Eup22Diis/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCTOQD28aY_RJtRVZ8hxBkTw",
            "authorChannelId": {
             "value": "UCTOQD28aY_RJtRVZ8hxBkTw"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:23 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13oj5gxfvuesnnvk22sjrh4npmjgt5e3&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/njAM8IV2QmE1N4ybnU9doCNmT7I"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Izayoi Sakamaki",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-0VMLKycIMyk/AAAAAAAAAAI/AAAAAAAAAAA/7fzcIikymRM/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCefeWYVoo3EpK0OpSkOBocg",
            "authorChannelId": {
             "value": "UCefeWYVoo3EpK0OpSkOBocg"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:24 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13sszfqfoe1tp3gu04chtlh2niwc10acdc&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/XXFHE2ujqQ_X7FPNdF3q8aBl3es"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Shaoting Wang",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-2Y3uSVPWoPM/AAAAAAAAAAI/AAAAAAAAAAA/z8rLvt0pAyY/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCuGfSn8tjwI-Jkx6Dy6w7kg",
            "authorChannelId": {
             "value": "UCuGfSn8tjwI-Jkx6Dy6w7kg"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13shjfo5yiqjxauu22cxfqb4wbvy5ub104&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/_cWnZNOujYCx0Xr1iUepkgm9SzQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "謝志鵬",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-FwxPTHJYxw4/AAAAAAAAAAI/AAAAAAAAAAA/q3QQ-GMvD3s/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UC9DO4l7rGCeqtyf3bXGVOLQ",
            "authorChannelId": {
             "value": "UC9DO4l7rGCeqtyf3bXGVOLQ"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:25 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12htl2qkqbzclrzb04ceh0jhqmgfxpxoa0&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/_3PNSKgT-vDpOaDf0MrFdsqWBz0"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Independent123",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-b8jdu21Beyw/AAAAAAAAAAI/AAAAAAAAAAA/kEgncBzwSc0/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCpYpBt7ZRomZHaEDOj3lbig",
            "authorChannelId": {
             "value": "UCpYpBt7ZRomZHaEDOj3lbig"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z131ivqwkxuvtle1x22rg3fztyetvfk2d&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/ATp4qS_tIj59Wffqs2OxyLjhbHU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "王笙翰",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-1bX_umR9JBE/AAAAAAAAAAI/AAAAAAAAAAA/ZrTxpEwR7xs/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCD7RhGQvzrJN3wXSI58iWew",
            "authorChannelId": {
             "value": "UCD7RhGQvzrJN3wXSI58iWew"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:26 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13fwjnh0tz0ifbfi22ahzq50pulcn4je04&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/j6NWWNWMhQmLtY680hL-MR5dgqs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Jianwen Zhang",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-qL2HKUKgcBg/AAAAAAAAAAI/AAAAAAAAAAA/OZsUpJA2J5A/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCPy6kCHLLcnjpu9BjCMDesQ",
            "authorChannelId": {
             "value": "UCPy6kCHLLcnjpu9BjCMDesQ"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:27 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13jzh3obsymc1mh004ccvwqfmanxpyrpq00k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/nc_R5sDcQK9Oi0R0wKL9Z_jCGvY"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Johnny jai",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-CuwfaxmRZ40/AAAAAAAAAAI/AAAAAAAAAAA/ePp7CDSaVoA/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCzilSk_VjaLEJOmSpg6kKkw",
            "authorChannelId": {
             "value": "UCzilSk_VjaLEJOmSpg6kKkw"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z123zx1g1pfycne0k22hjjiwwozyvdzs5&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/3YVSE07Ca91D8hbov2vlrnRMaeg"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "田云龙",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-pVSboMlxueo/AAAAAAAAAAI/AAAAAAAAAAA/Y1epHC5NFt8/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCjLVMTiIpz2s6VWkrcQLkVQ",
            "authorChannelId": {
             "value": "UCjLVMTiIpz2s6VWkrcQLkVQ"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:28 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13oyrjj3xmhtryoh04cjdsanyu2f1k553s&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/hDE9T3JOQ9-NIZz2GkqH82oly28"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "never say",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-nPogiUi99G8/AAAAAAAAAAI/AAAAAAAAAAA/OQWIa_8bk9Y/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCaxHIyI4eekNR7JkRXw4gng",
            "authorChannelId": {
             "value": "UCaxHIyI4eekNR7JkRXw4gng"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:29 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13tg3jpkrrhdpvnf22jvfijikzmgvv5k04&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/5E3YaxuDuHnq4xrPrWk4OYTJYlU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "Jian Jin",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-D4NgeTNp59w/AAAAAAAAAAI/AAAAAAAAAAA/X7Cp3I4kBYc/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCbnrh7OTF2SdnoaWGN-37WA",
            "authorChannelId": {
             "value": "UCbnrh7OTF2SdnoaWGN-37WA"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:30 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z13uf5tpexvbfzqzh04chnxphyrgxj0ofr40k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/v6MwetWSXb69Kfn8K_dI3aPQvLk"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "信長重製 Dota2",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-JxFRNnMV7Lo/AAAAAAAAAAI/AAAAAAAAAAA/LGFm_cD5MtM/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCXMGBAuIqrMz4bhvp6zMCag",
            "authorChannelId": {
             "value": "UCXMGBAuIqrMz4bhvp6zMCag"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z132ilfpuwiyijobv04cdntidmqlevbpmls0k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/16UUngXk3uLF7VXOLoRnBAS1doU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "LaiHoWong",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-1lZ_HVofI38/AAAAAAAAAAI/AAAAAAAAAAA/mDEfxOxFuGU/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCzHDRCJMkkMrzPDFzbi7FxA",
            "authorChannelId": {
             "value": "UCzHDRCJMkkMrzPDFzbi7FxA"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:31 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12zx3ba4ziotlc5q04cgvlz0lbvhvr4ono0k&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/qb4rYMKXN6_AvSK1Fclf-072ceU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "勇樟 ,李",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-BaDLsfzr14Y/AAAAAAAAAAI/AAAAAAAAAAA/0h8ZJJfiz_8/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCp-qAezI6Stkuqj4IdVeMdA",
            "authorChannelId": {
             "value": "UCp-qAezI6Stkuqj4IdVeMdA"
            },
            "likeCount": 0
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12sf1u5bovdzdl3f23gwvexczryufww304&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/fylz-6rE9eURFAot0tQsYBL-VsI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "cainiao yihao",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-4QHPtAXz2Qw/AAAAAAAAAAI/AAAAAAAAAAA/1J-Z2KGM3b4/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCXG_fWi6mWi7nJlptdbiW4Q",
            "authorChannelId": {
             "value": "UCXG_fWi6mWi7nJlptdbiW4Q"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 07:56:32 GMT
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/videos?fields=items(id,snippet(channelId,description,publishedAt,title))&id=XxXx888xXxX&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/Rk41fm-2TD0VG1yv0-bkUvcBi9s"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": []
        }
  recorded_at: Sun, 13 Nov 2016 07:56:33 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/youtube/v3/comments?fields=items(snippet(authorChannelId,authorChannelUrl,authorDisplayName,authorProfileImageUrl,likeCount))&id=z12sf1u5bovdzdl3f23gwvexczryufww304&key=<API_KEY>&part=snippet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"sZ5p5Mo8dPpfIzLYQBF8QIQJym0/fylz-6rE9eURFAot0tQsYBL-VsI"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "items": [
          {
           "snippet": {
            "authorDisplayName": "cainiao yihao",
            "authorProfileImageUrl": "https://yt3.ggpht.com/-4QHPtAXz2Qw/AAAAAAAAAAI/AAAAAAAAAAA/1J-Z2KGM3b4/s28-c-k-no-mo-rj-c0xffffff/photo.jpg",
            "authorChannelUrl": "http://www.youtube.com/channel/UCXG_fWi6mWi7nJlptdbiW4Q",
            "authorChannelId": {
             "value": "UCXG_fWi6mWi7nJlptdbiW4Q"
            },
            "likeCount": 1
           }
          }
         ]
        }
  recorded_at: Sun, 13 Nov 2016 10:06:17 GMT
recorded_with: VCR 3.0.3
